img {
    width: 400px;
    border-radius: 20px;
}

p {
    width: 400px;
}

body {
    font-family: Arial;
    background: #9300ff;
}

.btn{
    background: #ffeb11;
    padding: 8px 25px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
}

.container {
    width: 400px;
    background: #fff;
    padding: 20px 80px;
    margin: 0 auto;
    border-radius: 10px;
}




.btn:hover {
    background: #eeff6b;
}

.menu__link {
  text-decoration: 5px;
        
}